/* styles.css */
.letter-m {
  color: #153448;
  font-size: larger;
  font-weight: bold;
  font-size: 2em;
}

.letter-t {
  color: #3C5B6F;
  font-size: larger;
  font-weight: bold;
  font-size: 2em;
}

p {
  font-family: 'Inter', sans-serif;
  margin: 0 auto;
  color: #153448;
  font-size: 2rem;
  font-weight: 300;
  text-wrap: wrap;
}

.navbar-custom {
  background-color: #DFD0B8 !important;
  border-bottom: solid 10px #766C6C;
}

.navbar-custom .nav-link {
  color: #766C6C !important;
}

.navbar-custom .nav-link.btn-custom {
  font-size: 18px;
  padding: 10px 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.navbar-custom .btn-custom {
  background-color: #766C6C;
  border-color: #766C6C;
  color: #DFD0B8 !important;
}

.navbar-custom .btn-custom:hover {
  background-color: #DFD0B8;
  border-color: #5A4F4F;
  color: #5A4F4F !important;
  font-style: bold;
}

